<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a ui-sref="users">Employee Management</a></li>
        <li class="active">Roles</li>
    </ol>
    <h1>Employee Management</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Select Role for {{user.given_name}} {{user.family_name}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal row-border" method="post">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row checkbox col-sm-offset-1" ng-repeat="role in roles">
                                        <label><input type="radio" ng-click="selectRole(role.id)"> {{role.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="button" class="btn green" ng-class="{disabled:saveDisabled}" ng-click="update()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
