<div class="container-fluid">
    <div class="col-md-12 pos">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Dashboard</a></li>
            <li><a ui-sref="users">Users</a></li>
            <li class="active">Edit</li>
        </ol>
        <div id="page-heading">
            <div class="options">
                <div class="btn-toolbar">

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>{{ mode }} User</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form class="form-horizontal row-border" method="post">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Given Name</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="data.given_name">
                                            </label>
                                            <label class="control-label col-xs-2">Family Name</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="data.family_name">
                                            </label>
                                            <label class="control-label col-xs-2">Email</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="data.email">
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn red" ng-click="destroy()" ng-if="isEdit()">Delete</button>
                                    <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button type="button" class="btn green" ng-click="store()" ng-if="isAdd()">Save</button>
                                    <button type="button" class="btn green" ng-click="update()" ng-if="isEdit()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
