<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a ui-sref="customers">Groups</a></li>
        <li class="active">Edit</li>
    </ol>
    <h1>Groups</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{ mode }} Group</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal row-border" method="post">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-xs-2">Name</label>
                                    <label class="control-label col-xs-10">
                                        <input type="text" class="form-control" ng-model="data.name">
                                    </label>
                                    <label class="control-label col-xs-2">Email</label>
                                    <label class="control-label col-xs-10">
                                        <input type="text" class="form-control" ng-model="data.email">
                                    </label>
                                    <label class="control-label col-xs-2">Store Group</label>
                                    <label class="control-label col-xs-10">
                                        <input type="checkbox" class="pull-left" ng-model="data.is_store" ng-true-value="1" ng-false-value="0">
                                        <!-- todo transform db 1/0 to json true/false -->
                                    </label>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn red" ng-click="destroy()" ng-if="isEdit()">Delete</button>
                                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="button" class="btn green" ng-click="store()" ng-if="isAdd()">Save</button>
                                        <button type="button" class="btn green" ng-click="update()" ng-if="isEdit()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
