<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li class="active">Permissions</li>
    </ol>
    <h1>Permissions</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a ui-sref="permissions.edit({id: 'new'})" class="btn btn-default btn-sm">Add</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.reload()">Refresh</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.sorting({})">Clear sorting</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.filter({})">Clear filter</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Permissions</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" ng-table="tableParams">
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="data in $data">
                            <td data-title="'Name'" sortable="'name'">{{data.name}}</td>
                            <td data-title="'Description'" sortable="'description'">{{data.description}}</td>
                            <td data-title="'Global'">{{data.global}}</td>
                            <td data-title="'Actions'">
                                <a class="btn default btn-xs green" ui-sref="permissions.edit({id:data.id})"><i class="fa fa-edit"></i> Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
