<div class="modal-header">
    <h3 class="modal-title">Device Function Checklist</h3>
</div>
<div class="modal-body">
    <h2><span class="fa fa-user"></span> Device Function Checklist</h2>
    <div class="row" ng-repeat="checklist in checklistList">
        <div class="col-md-12">
            <label>{{checklist.name}}: <span class="asterisk">*</span><!--<span class="help-block">Please enter a valid email address</span>--></label>
            <input type="checkbox" ng-click="checklist.checked=checklist.checked==0?1:0" ng-checked="checklist.checked==1" ng-init="checklist.checked=0"><br>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary push-left" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()">Save</button>
</div>
