<div class="container-fluid">
    <div class="col-md-12 pos">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Dashboard</a></li>
            <li class="active">Employees</li>
        </ol>
        <div id="page-heading">
            <div class="options">
                <div class="btn-toolbar">
                    <a class="btn btn-default btn-sm" ng-click="tableParams.reload()">Refresh</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Employees</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered" ng-table="tableParams">
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="data in $data">
                                    <td data-title="'Name'">{{data.name}}</td>
                                    <td data-title="'Email'"><a href="mailto:{{data.email}}">{{data.email}}</a></td>
                                    <td data-title="'Actions'">
                                        <a class="btn default btn-xs" ui-sref="employees.edit({id:data.id})"><i class="fa fa-edit"></i> Edit</a>
                                        <a class="btn default btn-xs" ui-sref="employees.permissions({id:data.id})"><i class="fa fa-lock"></i> Permissions</a>
                                        <a class="btn default btn-xs" ui-sref="employees.roles({id:data.id})"><i class="fa fa-empire"></i> Roles</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
