<div class="container-fluid">
    <div class="col-md-12 pos">
        <breadcrumbs></breadcrumbs>
        <div id="page-heading">
            <div class="options">
                <div class="btn-toolbar">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>{{mode}} Setting</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form class="form-horizontal row-border" method="post">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Name</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="setting.name">
                                            </label>
                                            <label class="control-label col-xs-2">Key</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="setting.key">
                                            </label>
                                            <label class="control-label col-xs-2">Type</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="setting.type">
                                            </label>
                                            <label class="control-label col-xs-2">Default</label>
                                            <label class="control-label col-xs-10">
                                                <input type="text" class="form-control" ng-model="setting.default">
                                            </label>
                                            <label class="control-label col-xs-2">Extra</label>
                                            <label class="control-label col-xs-10">

                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn green" ng-click="save()">Save</button>
                                    <button type="button" class="btn green" ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>