<div class="container-fluid">
    <div class="row pos">
        <div class="col-md-8 col-sm-12">
            <div id="pos-left-content">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Dashboard</a></li>
                    <li class="active">Invoice</li>
                </ul>
                <div class="row">
                    <h2 class="wo-heading">Invoice:</h2>
                </div>
                <div class="row">
                    <div>
                        <label class="control-label col-xs-2">Company Id</label>
                        <div class="col-xs-6">
                            <company-search-box />
                        </div>
                        <label class="control-label col-xs-4">
                            <input type="text" class="form-control" ng-model="data.company.name" disabled/>
                        </label>
                        <label class="control-label col-xs-2">Customer Id</label>
                        <div class="col-xs-6">
                            <customer-search-box />
                        </div>
                        <label class="control-label col-xs-4">
                            <input type="text" class="form-control" ng-model="data.customer.name" disabled/>
                        </label>
                        <label class="control-label col-xs-2">Details</label>
                        <label class="control-label col-xs-10">
                            <textarea class="form-control" rows="8" ng-model="data.details"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn red" ng-click="destroy()" ng-if="isEdit()">Delete</button>
                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-default" ng-click="export()" ng-if="isEdit()">Export</button>
                        <button type="button" class="btn green" ng-click="store()" ng-if="isAdd()">Save</button>
                        <button type="button" class="btn green" ng-click="update()" ng-if="isEdit()">Save</button>
                    </div>
                </div>
                <div class="row" ng-if="isEdit()">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Sales on Invoice</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive wo-items">
                                <table class="table table-striped .table-hover" ng-table="tableParams">
                                    <thead>
                                    <tr>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('woitem', 'asc'),
                                            'sort-desc': tableParams.isSortBy('woitem', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'woitem' : tableParams.isSortBy('woitem', 'asc') ? 'desc' : 'asc'})">
                                            <div>Customer/Company</div>
                                        </th>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('subtotal', 'asc'),
                                            'sort-desc': tableParams.isSortBy('subtotal', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'subtotal' : tableParams.isSortBy('subtotal', 'asc') ? 'desc' : 'asc'})">
                                            <div>Subtotal</div>
                                        </th>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('taxes', 'asc'),
                                            'sort-desc': tableParams.isSortBy('taxes', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'taxes' : tableParams.isSortBy('taxes', 'asc') ? 'desc' : 'asc'})">
                                            <div>Taxes</div>
                                        </th>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('subtotal', 'asc'),
                                            'sort-desc': tableParams.isSortBy('subtotal', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'subtotal' : tableParams.isSortBy('subtotal', 'asc') ? 'desc' : 'asc'})">
                                            <div>Total</div>
                                        </th>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('payments', 'asc'),
                                            'sort-desc': tableParams.isSortBy('payments', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'payments' : tableParams.isSortBy('payments', 'asc') ? 'desc' : 'asc'})">
                                            <div>Payments</div>
                                        </th>
                                        <th class="sortable" ng-class="{
                                            'sort-asc': tableParams.isSortBy('trade_credit', 'asc'),
                                            'sort-desc': tableParams.isSortBy('trade_credit', 'desc')
                                          }"
                                            ng-click="tableParams.sorting({'trade_credit' : tableParams.isSortBy('trade_credit', 'asc') ? 'desc' : 'asc'})">
                                            <div>Trade Credit</div>
                                        </th>
                                        <th>
                                            <div>Details</div>
                                        </th>
                                        <th align="middle">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="data in $data | filter:searchFilter">
                                        <td align="left">{{'Chris Florin'}}</td>
                                        <td align="left">{{data.subtotal | currency}}</td>
                                        <td align="left">{{data.taxes | currency}}</td>
                                        <td align="left">{{1*data.subtotal + 1*data.taxes | currency}}</td>
                                        <td align="left">{{data.payments | currency}}</td>
                                        <td align="left">{{data.trade_credit | currency}}</td>
                                        <td align="left">{{data.details}}</td>
                                        <td aligh="left"><a class="red-bg" align="middle" ng-click="removeSaleFromInvoice(data)">Remove</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div><!--  End of Table -->
            </div>
        </div>
        <!-- Side Bar Start-->
        <div id="pos-sidebar" class="col-sm-12 col-md-4">
            <div class="row" ng-if="isEdit()">
                <div id="sales-totals" class="table-responsive">
                    <h2>Invoice Total</h2>
                    <table class="table">
                        <tfoot>
                        <tr ng-if="data.total_due > 0">
                            <td align="right">Balance Due:</td>
                            <td align="right">{{data.total_due | currency}}</td>
                        </tr>
                        <tr ng-if="data.total_due == 0">
                            <td align="right" colspan="2">Invoice Complete</td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td class="sales-bg-a" align="right">Sales in Invoice:</td>
                            <td class="sales-bg-b" align="right">{{tableParams.data.length}}</td>
                        </tr>
                        <tr>
                            <td class="sales-bg-a" align="right">Total:</td>
                            <td class="sales-bg-b" align="right">{{data.subtotal | currency}}</td>
                        </tr>
                        <tr ng-if="data.invoice_payments.length > 0">
                            <td class="sales-bg-a" align="right">Payments:</td>
                            <td class="sales-bg-b" align="right">{{- data.payments | currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--  End of Table -->
            </div>
            <div class="row" ng-if="isEdit() && data.total_due > 0 && !data.closed">
                <div class="payment-info">
                    <h2>Add Payment</h2>
                    <div class="row">
                        <div id="payment-amount" class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                <input type="text" class="form-control input-lg" id="payment-entry" name="payment-amount" maxlength="25" tabindex="" ng-model="money.value" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pay-type">
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" ng-click="makePayment(2)"><i class="fa fa-credit-card fa-fw"></i> <strong>Credit</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" ng-click="makePayment(1)"><i class="fa fa-money fa-fw"></i> <strong>Cash</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" ng-click="makePayment(3)"><i class="fa fa-gift fa-fw"></i> <strong>Gift Card</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" ng-click="makePayment(10)"><i class="fa envelope fa-fw"></i> <strong>Check</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!data.closed">
                <div id="sales-totals" class="table-responsive">
                    <h2>Sale List</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th align="middle">Id</th>
                            <th align="middle">Trade Credit</th>
                            <th align="middle">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sale in saleList">
                            <td align="middle">{{sale.id}}</td>
                            <td align="middle">{{sale.trade_credit | currency}}</td>
                            <td align="middle">
                                <a class="btn default btn-xs" ng-click="addSaleToInvoice(sale)"><i class="fa fa-edit"></i> Add</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--pos sidebar-->
    </div>
</div>
