<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li class="active">Device Families</li>
    </ol>
    <h1>Device Families</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a ng-click="add()" class="btn btn-default btn-sm">Add</a>
            <a class="btn btn-default btn-sm" ng-click="export()" target="_self">Export</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.reload()">Refresh</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.sorting({})">Clear sorting</a>
            <a class="btn btn-default btn-sm" ng-click="tableParams.filter({})">Clear filter</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Device Families</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="tableParams.filter()['search']"/>
                        </div>
                    </div>
                    <table class="table table-bordered" ng-table="tableParams">
                        <thead>
                        <tr>
                            <th>
                                <div>Id</div>
                            </th>
                            <th class="sortable" ng-class="{
                                'sort-asc': tableParams.isSortBy('name', 'asc'),
                                'sort-desc': tableParams.isSortBy('name', 'desc')
                              }"
                                ng-click="tableParams.sorting({'name' : tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})">
                                <div>Name</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-if="isAdd">
                            <td data-title="'Id'"></td>
                            <td data-title="'Name'"><input type="text" class="form-control" ng-model="new.name"></td>
                            <td data-title="'Actions'">
                                <a class="btn default btn-xs green" ng-click="store()"><i class="fa fa-edit"></i>Save</a>
                                <a class="btn default btn-xs green" ng-click="cancel()"><i class="fa fa-edit"></i>Cancel</a>
                            </td>
                        </tr>
                        <tr class="odd gradeX" ng-repeat="data in $data">
                            <td data-title="'Id'">{{data.id}}</td>
                            <td data-title="'Name'">
                                <div ng-if="data.isEdit"><input type="text" class="form-control" ng-model="data.name"></div>
                                <div ng-if="!data.isEdit">{{data.name}}</div>
                            </td>
                            <td data-title="'Actions'">
                                <a class="btn default btn-xs green" ng-click="data.isEdit = true" ng-if="!data.isEdit"><i class="fa fa-edit"></i>Edit</a>
                                <a class="btn default btn-xs green" ng-click="update(data)" ng-if="data.isEdit"><i class="fa fa-edit"></i>Save</a>
                                <a class="btn default btn-xs green" ng-click="cancel(data)" ng-if="data.isEdit"><i class="fa fa-edit"></i>Cancel</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
